#box{
	width:500px;
	height:500px;
	border:1px solid black;
	position:relative;
	
}
div{
	width:100px;
	height:100px;
	background:red;
	text-align:center;
	/*border:1px solid yellow;*/
	font:bold 50px/100px '宋体';
	color:white;
	position:absolute;
	left:0px;
	top:px;
}

